{% extends "@MyAppEsprit/layout2.html.twig" %}

{% block formulaire %}
    <div class="left-col-content-title">
        <h1>Veuillez vous inscrire ici svp</h1>
    </div>
    {% include "@FOSUser/Registration/register_content.html.twig" %}

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock  %}
