<body>
Bonjour Mr/Mme {{ nom }} {{ prenom }}
<br>

Votre login est {{ nom }} <br>

et votre mot de passe est {{ pwd }}

<br>

Merci, s'il vous plait de nous rejoigner sur: http://localhost/workshopproj/web/app_dev.php/login <br>

Bien cordialement,<br>
L'équipe de SocialPro
</body>
