{% extends '@MyAppEsprit/layoutGerant.html.twig' %}
{% block formulaire %}
<div class="banner">


    <div class="banner-content">

        <h1>Bonjour </h1>
        <h2> Nous sommes heureux de vous revoir! </h2>
    </div>
</div>

<div class="main-content-wrapper">
    <div class="left-column">
        <div class="left-col-content">

<br>
            <br><br>
             <h1> L'email a été envoyé avec succès!! </h1>
            <br>
            <br>
            <br><br>
            <br>
</div>
        </div>
</div>
{% endblock %}