{% extends '@MyAppEsprit/layout2.html.twig' %}
{% block formulaire %}

<p> <h6>Bienvenue sur Social Pro votre réseau social et professionnel en même temps!</h6><br>
<h6> Vous êtes directeur, gérant d'une entreprise ou même le responsable de tout ce qui concerne le web dans votre société,</h6><br>
<h6> avec ce site, vous pouvez également gérer votre entreprise ainsi qu'encourager la communication entre les employés. </h6><br>
<h6>Qu'attendez vous? veuillez vous inscrire afin de découvrir les fonctionnalités de ce site par <a href="{{ path('fos_user_registration_register')}}">ici</a></h6><br>
<h6>Ou bien si vous êtes déjà un membre, vous pouvez vous connecter par <a href="{{ path('fos_user_security_login')}}">ici</a></h6><br>
<h6>Pour plus d'informations, vous pouvez nous contacter sur socialproesprit@gmail.com!</h6>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{%  endblock %}