{% extends "@MyAppEsprit/layout2.html.twig" %}

{% block formulaire %}
    <div class="left-col-content-title">
        <h1>Authentification</h1>
    </div>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <br>
    <br>
    <br>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}